
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: right;
}

th {
    background-color: #3f51b5;
    color: white;
    text-align: center;
}

td:first-child, td:last-child {
    text-align: center;
}

.highlight {
    background-color: #f7525a;
    color: #ffffff;
    font-weight: bold;
}

td:nth-child(2), td:nth-child(3) {
    text-align: right;
}